{% extends '_base.html' %}

{% block title %}Sign Up{% endblock title %}

{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
    <h1> Sign Up!</h1>

    <div class="card py-4 px-4 my-2 my-3">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Sign Up">
        </form>

        <p class="mx-auto mt-3">
           OR
        </p>
        <a class="btn btn-outline-primary mt-3" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i> Sign Up with Google </a>    
    </div>
    
{% endblock content %}