{% extends '_base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <h1> Home Page </h1>

    {% if user.is_authenticated %}
        Hi {{ user.email }},
    {% endif %}

    <div class="card px-4 py-4 mb-4" style="width: 40rem;">
        <img class="bookcover mx-auto" src="{% static "/images/HP_book_cover.jpeg" %}">
        <div class="card-body pt-4">
            <h5 class="card-title">Harry Potter and the Philosopher's Stone.</h5>
            {% if user.is_authenticated %}
                <p class="card-text">
                    Harry Potter and the Philosopher's Stone is a fantasy novel written by British author J. K. Rowling. The first novel in the Harry Potter series and Rowling's debut novel, it follows Harry Potter, a young wizard who discovers his magical heritage on his eleventh birthday, when he receives a letter of acceptance to Hogwarts School of Witchcraft and Wizardry. Harry makes close friends and a few enemies during his first year at the school, and with the help of his friends, he faces an attempted comeback by the dark wizard Lord Voldemort, who killed Harry's parents, but failed to kill Harry when he was just 15 months old.
                </p>

                <a href="https://www.amazon.in/Harry-Potter-Philosophers-Stone-Rowling/dp/1408855658" class="btn btn-primary">Buy the PaperBack.</a>
            {% else %}
                <p class="card-text">You are not logged in. Log In to view details.</p>
                <a href="{% url "account_login" %}">Log In</a> | <a href="{% url "account_signup" %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
    
{% endblock content %}
